.calculadora {
    height: 340px;
    width: 240px;
    border-radius: 6px;
    overflow: hidden;
    

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: ifr 48px 48px 48px 48px 48px;
}